body {

  background-color: #e2e2df;
}
/* game board table */
#game{
  margin-left: 33%;
}
h1 {
  font-size: 10vh;
  padding-left:35%;
  background-color: #30343f;
  color:blue
}

#board td {
  width: 8vh;
  height: 8vh;
  border: solid 1px rgb(92, 92, 112);
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px gray;
}

#column-top td:hover {
  background-color: gold;
}
